body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #658864;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #658864;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #B7B78A;
    text-align: left;
}

hr {
    border: 5px dotted #DDDDDD;
    width: 3%;
    border-style: none none dotted;
    margin: 5em auto 5em auto;
}


.top-container {
    background-color: #EEEEEE;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    top: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.personal-image {
    width: 10%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.leader-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.developer-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-question {
    text-align: center;
    margin: 1.5em auto 1.5em auto;
}

.contact-description {
    margin-bottom: 4em;
}

.bottom-container {
    padding-top: 50px;
    background-color: #658864;
    margin-top: 100px;
}

.footer-link {
    padding-bottom: 25px;
}

.copy-right {
    color: #ffff;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #B7B78A;
    background-image: -webkit-linear-gradient(top, #B7B78A, #658864);
    background-image: -moz-linear-gradient(top, #B7B78A, #658864);
    background-image: -ms-linear-gradient(top, #B7B78A, #658864);
    background-image: -o-linear-gradient(top, #B7B78A, #658864);
    background-image: linear-gradient(to bottom, #B7B78A, #658864);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #DDDDDD;
    background-image: -webkit-linear-gradient(top, #DDDDDD, #B7B78A);
    background-image: -moz-linear-gradient(top, #DDDDDD, #B7B78A);
    background-image: -ms-linear-gradient(top, #DDDDDD, #B7B78A);
    background-image: -o-linear-gradient(top, #DDDDDD, #B7B78A);
    background-image: linear-gradient(to bottom, #DDDDDD, #B7B78A);
    text-decoration: none;
  }




